body{
  margin:0;
  font-family:Arial;
  background:#e9edf5;
}

/* HEADER */
header{
  background:white; /* đổi sang trắng */
  color:#1d3f8f;
  padding:15px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* WRAPPER tạo khung bo góc */
.wrapper{
  width:95%;
  margin:20px auto;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

/* LOGO */
.logo{
  display:flex;
  align-items:center;
  background:white;
  padding:5px 10px;
  border-radius:12px;
  box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

.logo img{
  height:120px;
  margin-right:0px;
  transform:scale(1.6); /* phóng to logo */
}

/* MENU */
nav a{
  color:#1d3f8f; /* màu xanh của header cũ */
  margin-left:20px;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
  position:relative;
}

/* ACTIVE MENU */
nav a.active::after{
  content:'';
  position:absolute;
  width:100%;
  height:3px;
  background:#1e90ff;
  left:0;
  bottom:-5px;
}

/* HOVER */
nav a:hover{
  color:#4da6ff;
}
/* HERO */
.hero {
  position: relative;
  height: 150px; /* tăng chiều cao cho đúng hero */
  text-align: center;
  color: #fff;

  background: url('imanage2.jpg') center/cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* overlay */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
   z-index: 2;/* giảm từ 0.5 -> 0.3 cho đỡ tối */
}

/* text */
.hero h1,
.hero h2 {
  color: #fff; /* đảm bảo trắng 100% */
  text-shadow: 0 3px 10px rgba(0,0,0,0.8);
}

.hero h1 {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
}

.hero h2 {
  font-weight: 400;
  margin-bottom: 10px;
}

/* content nổi lên */
.hero-content {
  position: relative;
  z-index: 1;
}

/* CONTAINER */
.container{
  padding:30px;
}

/* CARD */
.card{
  background:white;
  padding:20px;
  margin-bottom:20px;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

/* TABLE */
table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#0b3d91;
  color:white;
}

th,td{
  padding:10px;
  border-bottom:1px solid #ddd;
  text-align:center;
}

/* GALLERY */
.gallery{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
}

.gallery img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
  transition:0.3s;
}

.gallery img:hover{
  transform:scale(1.05);
}
button{
  padding:10px 15px;
  margin:5px;
  border:none;
  background:#1e90ff;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#0b3d91;
}
/* FOOTER */
footer{
  background:#0b3d91;
  color:white;
  text-align:center;
  padding:15px;
}
