/* RESET */
body{
  margin:0;
  font-family:Arial;
  background:#e9edf5;
}

/* HEADER */
header{
  background:white;              /* nền trắng */
  padding:15px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:2px solid #eee;  /* viền nhẹ */
}

/* LOGO */
.logo{
  display:flex;
  align-items:center;
}

.logo img{
  height:70px; /* chỉnh size dễ nhìn */
}

/* MENU */
nav a{
  color:#1d3f8f;      /* màu xanh header cũ */
  margin-left:20px;
  text-decoration:none;
  font-weight:bold;
}

/* HOVER */
nav a:hover{
  color:#4da6ff;
}

/* ACTIVE */
nav a.active{
  border-bottom:3px solid #1d3f8f;
  padding-bottom:5px;
}
